/* Inter Font Face Declarations */

/* Variable Font Support */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/inter/Inter-Variable.woff2') format('woff2-variations');
  }
}

/* Fallback for browsers that don't support variable fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter/Inter-Variable.woff2') format('woff2');
}
