/* Overpass Font Face Declarations */

/* Variable Font Support */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/overpass/Overpass-Variable.woff2') format('woff2-variations');
  }
}

/* Overpass Mono Font Face Declarations */

/* Variable Font Support */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url('/fonts/overpass-mono/OverpassMono-Variable.woff2') format('woff2-variations');
  }
}

/* Fallback for browsers that don't support variable fonts */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/overpass/Overpass-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/overpass-mono/OverpassMono-Variable.woff2') format('woff2');
}
